.header
  .h-title
    %h1 わたじん書店
  %hr
  .page-title
    %ul.page-title-link
      %li.page-title-list
        =link_to "",class: "nav" do
          ホーム
      %li.page-title-list
        =link_to "",class: "nav" do
          おしらせ
      %li.page-title-list
        =link_to "",class: "nav" do
          検索
      %li.page-title-list
        =link_to "",class: "nav" do
          お問い合わせ
