= render "nav-bar"
.contents
  .home__top
    = image_tag( "sample.jpg", alt: "watajin-syoten", class: "home__top-image")
  .home__middle
    %span えんま通りの小さな書店
    %br
    %br 小さなお店ですが絵本や女性向けの本を中心に
    いろんなジャンルを置いています

  .home__bottom
    %h3.home__bottom-accese アクセス
    %hr
    .home__bottom-text
      .address
        %br 〒945-0051 新潟県柏崎市東本２－５－２２
        %br バス停「東本町２丁目」降りてすぐ
        %br [営業時間] 9:30 ～ 19:00 日曜日は１８時
        %br [定休日] 不定休
        %br tel: 0257-22-7300
        %br e-mail: watajin-books@watajin.com
    .home__bottom-map
      %iframe{allowfullscreen: "", frameborder: "0", height: "350", src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3170.847000234392!2d138.55693931530607!3d37.36979697983517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff5b42e6c39324f%3A0xae0f7a40ea1e2c1e!2z44KP44Gf44GY44KT5pu45bqX!5e0!3m2!1sja!2sjp!4v1549012305626", style: "border:0",width: "100%"}


